<app-header></app-header>

<div class="container-fluid">

    <!-- Filters -->
    <div class="filters">
        <input type="text" placeholder="Search any products">
        <button>Sort <i class="bi bi-arrow-down-up"></i></button>
        <button>Filter <i class="bi bi-funnel"></i></button>
    </div>

    <!-- Featured -->
    <section class="featured">
        <div class="featured-item" [style.backgroundImage]="'url(/home1.png)'">
            <div class="content">
                <h3>50-40% OFF</h3>
                <p>Kits that care. Subscriptions that save</p>
                <button>Shop Now <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
        <div class="featured-item" [style.backgroundImage]="'url(/home2.png)'">
            <div class="content">
                <h3>50-40% OFF</h3>
                <p>Kits that care. Subscriptions that save</p>
                <button>Shop Now <i class="bi bi-arrow-right"></i></button>
            </div>
        </div>
    </section>

    <!-- Categories -->
    <!-- <section class="categories">
        <h4>Select Categories</h4>
        <div class="category-list">
            <div class="category" *ngFor="let category of categories">
                <img [src]="category.img" [alt]="category.label">
                <p>{{ category.label }}</p>
            </div>
        </div>
    </section> -->

    <!-- Deal of the Day -->
    <section class="deal">
        <div>
            <h4>Deal of the day</h4>
            <p>22h 55m 20s remaining</p>
        </div>
        <button>View All <i class="bi bi-arrow-right"></i></button>
    </section>

    <div *ngIf="isLoading" class="products-loader">
        <div class="spinner"></div>
    </div>

    <!-- Products Grid -->
    <section class="products" *ngIf="!isLoading">
        <div class="product-card" (click)="gotoDetail(product)" *ngFor="let product of allProducts">
            <a>
                <img [src]="product.img" [alt]="product.name" (error)="onImgError($event)">
            </a>
            <h5>{{ product.name }}</h5>
            <div class="product-info">
                <div class="price-stock">
                    <span class="price">₹{{ product.discountedPrice }}</span>
                    <span class="original-price">₹{{ product.actualPrice }}</span>
                </div>

                <div class="right-side">
                    <span class="stock">{{ product.stockCount }} in stock</span>

                    <div class="quantity" (click)="$event.stopPropagation()">
                        <button (click)="decreaseQty(product)">-</button>
                        <input type="number" [(ngModel)]="product.quantity" min="1" [max]="product.stock">
                        <button (click)="increaseQty(product)">+</button>
                    </div>
                </div>
            </div>
            <div class="product-buttons" (click)="$event.stopPropagation()">
                <button class="buy"><i class="bi bi-hand-index"></i> Buy Now</button>
                <button class="cart" (click)="addToCart(product.id, product.quantity)"><i class="bi bi-cart3"></i> Add
                    to Cart</button>
            </div>
        </div>

    </section>

    <nav *ngIf="!isLoading && totalPages > 1" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="page === 1">
                <a class="page-link" (click)="changePage(page - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let p of totalPagesArray" [class.active]="page === p">
                <a class="page-link" (click)="changePage(p)">{{ p }}</a>
            </li>
            <li class="page-item" [class.disabled]="page === totalPages">
                <a class="page-link" (click)="changePage(page + 1)">Next</a>
            </li>
        </ul>
    </nav>

</div>

<app-footer></app-footer>