<footer>
    <div class="left">
        <img src="/logo.png" alt="">

        <p>Self-care essentials
            Hygiene packs designed for women's self-care needs.</p>

        <div class="list">
            <h4>Quick Access</h4>
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>Privacy Policy</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>

    <div class="right">

        <div class="details">
            <h5>Customer Care</h5>
            <h5><a href="mailto:hello@luvwish.in">hello&#64;luvwish.in</a></h5>
            <h5><a href="tel:+919562388698">+91 9562388698</a></h5>
        </div>

        <div class="social">
            <p><i class="bi bi-instagram"></i></p>
            <p><i class="bi bi-twitter-x"></i></p>
            <p><i class="bi bi-threads"></i></p>
            <p><i class="bi bi-linkedin"></i></p>
        </div>

        <div class="updates">
            <h6>Enter Email For Updates</h6>
            <input placeholder="Enter Your Email" type="text">
            <button>Subscribe</button>
        </div>
    </div>
</footer>